body{
    background: rgb(134, 133, 133);
    text-align: center;
    list-style: none;
    
}
nav ul{
    background: rgb(255, 255, 255);   
}
p{
    margin-left: 50px;
    font: 30px;
}
/*  */
#lk{
    background: rgb(255, 255, 255);
  
}




